---
const { title, url, description, pubDate, author, image, tags } = Astro.props;
---

<li>
  <a href={url} title={title} class="group">
    <article class="flex h-full flex-1 flex-col">
      <div class="block w-full lg:col-span-2">
        <img
          class="aspect-[2/3] h-full w-full bg-center object-cover"
          src={image}
          alt={title}
        />
      </div>
      <div
        class="flex h-full w-full flex-1 flex-col items-start justify-between p-4"
      >
        <div>
          <div class="inline-flex items-center space-x-1">
            <p class="text-xs font-medium text-black">{author}</p>
            <span aria-hidden="true">&middot;</span>
            <div class="flex text-xs text-zinc-400">
              <time datetime="2020-03-16">{pubDate}</time>
            </div>
          </div>
          <p class="mt-2 text-pretty font-display text-xl text-black">
            {title}
          </p>
        </div>
        <p class="mt-4 line-clamp-2 text-sm text-zinc-500">{description}</p>

        <div class="mt-4 flex space-x-2">
          {
            tags.map((tag) => (
              <span class="text-xs font-medium text-black">{tag}</span>
            ))
          }
        </div>
      </div>
    </article>
  </a>
</li>
