---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<!---
TODO: Complete SEO information

Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="On Scene Studio"
  description="At On Scene Studio, we are your partners in innovation, bringing a unique
blend of hard-tech, software, industrial design, and go-to-market strategies
to help you transform ideas into market-ready products."
  canonical="https://os.studio"
  openGraph={{
    url: "https://os.studio",
    title: "On Scene Studio",
    description: "On Scene Studio",
    images: [
      // {
      //   url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
      //   width: 1200,
      //   height: 630,
      //   alt: "Social open graph",
      //   type: "image/jpeg",
      // },
      // {
      //   url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
      //   width: 4096,
      //   height: 4096,
      //   alt: "Twitter open graph",
      //   type: "image/jpeg",
      // },
      // { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      // { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "On Scene Studio",
  }}
  twitter={{
    // handle: "@TwitterHandle",
    // site: "@site",
    // cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section>
    <div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:pt-24">
      <div class="lg:text-center">
        <img
          class="w-full object-cover object-center lg:h-72"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
        />
        <div class="mt-4 flex flex-col justify-between md:flex-row">
          <p class="text-xs text-zinc-500">
            {frontmatter.pubDate.toString().slice(0, 10)} - Written by: {
              frontmatter.author
            }
          </p>
          <div class="flex gap-3">
            {
              frontmatter.tags.map((tag) => (
                <span class="inline-flex items-center text-xs font-medium uppercase text-black hover:text-blue-500">
                  <a href={`/tags/${tag}`}>{tag}</a>
                </span>
              ))
            }
          </div>
        </div>
        <h1
          class="mt-12 text-balance font-display text-4xl font-medium tracking-tight text-black md:text-8xl lg:mt-16"
        >
          {frontmatter.title}
        </h1>
        <p class="mx-auto mt-8 max-w-2xl text-zinc-500">
          <em>{frontmatter.description}</em>
        </p>
      </div>

      <div class="mx-auto mt-12 max-w-2xl">
        <div class="prose-styles">
          <slot />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
